{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"], "@babel/preset-react"],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
        // "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }

  // require.resolve('babel-plugin-transform-runtime'),
  //  -    {
  //  -      helpers: false,
  //  -      polyfill: false,
  //  -      regenerator: true,
  //  -    },
  // require('@babel/plugin-syntax-dynamic-import').default,
}
