{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"], "@babel/preset-react"],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }

  // "plugins": [
  //   "@babel/transform-react-constant-elements",
  //   "@babel/transform-react-inline-elements",
  //   "transform-react-remove-prop-types",
  //   "transform-react-pure-class-to-function",

  //   "@babel/transform-runtime",
  //   ["babel-plugin-root-import", {
  //     "rootPathSuffix": "."
  //   }]
}
