{
  "extends": "stylelint-config-standard",
  "plugins": [
		"stylelint-order"
	],
  "rules": {
    "selector-list-comma-newline-after": "always",
    "selector-type-no-unknown": null,
    "no-missing-end-of-source-newline": null,
    "block-no-empty": null,
    "at-rule-no-unknown": null,
    "color-no-invalid-hex": true,
    "declaration-colon-newline-after": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "max-empty-lines": 2,
    "unit-whitelist": [
      "em",
      "rem",
      "%",
      "s",
      "px",
      "fr",
      "vh",
      "deg",
      "vw"
    ],
    "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
  }
}