@import 'imports';

/* ------------------------------------ *\
    #Main Styles
\* ------------------------------------ */

body {
  background-color: var(--primary-bg);
  color: var(--body-text-color);
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
