@import url("./variables/_colors");
@import url("./variables/_typography");
@import url("./utils/_reset");
@import url("./components/_forms");
@import url("./components/_inputs");
@import url("./utils/_typography.scss");

body {
  background-color: var(--primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text);
  font-family: var(--primary-font);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
