<!doctype html>
<html lang="en">
<!--Version: <%= htmlWebpackPlugin.options.buildVersion %>-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Betting Slips</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Steven Fitzpatrick is a Front End developer currently based in Dublin, Ireland. Currently focusing on React, Preact, Node JS and a bit of web design on the side.">
    <meta name="theme-color" content="#d68643">
    <meta name="author" content="Steven Fitzpatrick">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/assets/icon-64.png" sizes="64x64">
</head>

<body>
    <noscript>
        <h1>Oops, looks like you do not have Javascript enabled !.</h1>
    </noscript>
    <div id="app"></div>
</body>

</html>