.auth-container {
  display: grid;
  grid-template-columns: auto 600px;
  min-height: 100vh;
}

.auth__img {
  background-image: url("https://res.cloudinary.com/ddw0ktdva/image/upload/c_scale,f_auto,fl_any_format.force_strip.progressive,q_auto,w_2590/v1519689991/richard-boyle-309541-unsplash.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
}

.auth__form {
  min-height: 100%;
  display: grid;
  place-items: center;
}
