html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

footer,
header,
main,
section,
li {
  display: block;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  text-decoration-skip: ink;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  image-rendering: -webkit-optimize-contrast;
}

// Scrollbars
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

// Selection Color
::selection {
  background-color: $header; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background-color: $header; /* Gecko Browsers */
  color: #fff;
}
