@import url("../variables/_colors");
@import url("../variables/_typography.scss");

* {
  line-height: var(--line-height);
}

/**
* Headers
**/
h1,
h2 {
  font-weight: 600;
  position: relative;
  letter-spacing: 0.3px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--spacing);
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

smaller {
  font-size: 0.667em;
}
