/* ------------------------------------ *\
    #Site Colors Variables
\* ------------------------------------ */

:root {
  --body-text-color: #dee5e5;
  --primary: #182025;
  --success: #17b890;
  --error: #d05353;
}
