/* ------------------------------------ *\
    #Typography Settings Variables
\* ------------------------------------ */

:root {
  --primary-font: 'Faune', sans-serif;
  --future-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial;
  --body-line-height: 1.5;
  --body-font-size: 16px;

  // Spacing
  --spacing: 24px;
  --sm-spacing: 8px;
  --m-spacing: 16px;
  --l-spacing: 32px;
}

/**
 * Main Body Type Settings
 */
@font-face {
  font-display: swap;
  font-family: 'Faune';
  font-style: normal;
  font-weight: 900;
  src: url('../../public/assets/fonts/Webfonts/woff2/Faune-Display_Black.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Faune';
  font-style: normal;
  font-weight: 100;
  src: url('../../public/assets/fonts/Webfonts/woff2/Faune-Display_Thin.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Faune';
  font-style: normal;
  font-weight: bold;
  src: url('../../public/assets/fonts/Webfonts/woff2/Faune-Text_Bold.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Faune';
  font-style: italic;
  font-weight: normal;
  src: url('../../public/assets/fonts/Webfonts/woff2/Faune-Text_Italic.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Faune';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/assets/fonts/Webfonts/woff2/Faune-Text_Regular.woff2')
    format('woff2');
}
