:root {
  --line-height: 1.5;
  --font-size: 16px;
  --spacing: 24px;
  --primary-font: "Faune", sans-serif;
}

@font-face {
  font-family: "Faune";
  src: url("../../../public/assets/fonts/Webfonts/woff2/Faune-Display_Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Faune";
  src: url("../../../public/assets/fonts/Webfonts/woff2/Faune-Display_Bold_Italic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Faune";
  src: url("../../../public/assets/fonts/Webfonts/woff2/Faune-Display_Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Faune";
  src: url("../../../public/assets/fonts/Webfonts/woff2/Faune-Text_Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Faune";
  src: url("../../../public/assets/fonts/Webfonts/woff2/Faune-Text_Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Faune";
  src: url("../../../public/assets/fonts/Webfonts/woff2/Faune-Text_Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
